@font-face {
  font-family: 'star-wars';
  font-style: normal;
  src: url('./assets/fonts/Starjedi.ttf') format('truetype')

}

.star-wars-header {
  text-align: center;
  margin: auto;
  width: 100%;
  font-family: 'star-wars';
  font-size: 75px;  
}

.content {
  display: block;
  margin: auto;
  text-align: center;
}

div ul {
  display: block;
  margin: auto;
  text-align: center;
}

ul  {
  width: 200px;
}

.character-select {
  font-size: large;
  font-weight: bold;
}

li {
  cursor: pointer;
}

.error {
  font-size: large;
  color: red;
}

.results {
  display: block;
  margin: auto;
  padding: 20px;
  margin: 10px;
}

.character-heading-result {
  font-family: 'star-wars';
  font-size: xx-large;
  padding: 10px;
}